1. The event_time column may contain outdated entries, such as dates from '1970'. 
   To ensure the data is reasonable, we need to remove these old time.


2. We need to consider calculating which extra useful information:
a. Calculate how long it has been since each customer last made a purchase relative to a specified date.
b. Count the number of transactions for each customer.
c. Calculate the total transaction amount for each customer.